<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ item.title }}</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% load static %}
    <div class="container mt-4">
        <ol class="breadcrumb">
            <li><a href="/">Головна</a> <span class="mx-2">/</span></li>
            <li><a href="{% url 'articleslist' %}">Публікації</a> <span class="mx-2">/</span></li>
            <li><a href="{{ item.category.get_absolute_url }}">{{ item.category|upper }}</a> <span class="mx-2">/</span></li>
            <li class="active">{{ item.title|upper }}</li>
        </ol>

        <div class="text-center">
            <h3 class="text-uppercase">
                {{ item.title }}
            </h3>
            <h5>
                {{ item.pub_date|date:"d E Y"|safe|linebreaks }}
            </h5>
        </div>

        <div class="text-center">
            <p class="text-justify">
                {{ item.description|escape|safe }}
            </p>

            {% if item.images.all %}
                <div class="d-flex justify-content-center">
                    <!-- Додаємо клас image-large для збільшення зображень -->
                    {% include 'fotorama.html' with images=item.images.all class="image-large img-fluid" %}
                </div>
            {% endif %}
        </div>

        <div class="clearfix"></div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
